streamlit
pandas
torch
transformers
datasets
langchain-community
langchain-cohere
chromadb
pymupdf
pypdf
rank_bm25
cohere
numpy
openpyxl
sentence-transformers
langchain-huggingface
pysqlite3-binary
huggingface_hub
